{{ form_start(form) }}
{# {{ form_widget(form) }} #}
{# {{ form_errors(form) }}
{{ form_row(form.nombre,{
    'label':'Nombre:',
    'label_attr': {
        'class':'etiqueta'
    }
}) }}
{{ form_row(form.descripcion) }}
{{ form_row(form.categoria) }}
{{ form_row(form.numVisualizaciones) }}
{{ form_row(form.numLike) }}
{{ form_row(form.numDownload) }} #}
{{ form_start(form) }}
	<div class="container"> <div class="my-custom-class-for-errors">
		{{ form_errors(form) }}
	</div>
	<div class="row">
		<div class="col-md-8">
			{{ form_row(form.nombre) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.categoria) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.descripcion) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{{ form_row(form.password) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			{{ form_row(form.numVisualizaciones) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.numLike) }}
		</div>
		<div class="col-md-4">
			{{ form_row(form.numDownload) }}
		</div>
	</div>
	<div class="row">
		<button class="btn">{{ button_label|default('Guardar') }}</button>
	</div>
</div>
{{ form_end(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
