{% extends 'base.html.twig' %}

{% block title %}Galería{% endblock %}

{% block principal %}
    <h1>Imagen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Categoria</th>
                <th>NumVisualizaciones</th>
                <th>NumLike</th>
                <th>NumDownload</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imagen in imagenes %}
            <tr>
                <td>{{ imagen.id }}</td>
                <td><img src="{{ asset(imagen.getUrlSubidas()) }}" alt="{{ imagen.getDescripcion() }}" title="{{ imagen.getDescripcion() }}" width="25px"></td>
                <td>{{ imagen.nombre }}</td>
                <td>{{ imagen.descripcion }}</td>
                <td>{{ imagen.categoria }}</td>
                <td>{{ imagen.numVisualizaciones }}</td>
                <td>{{ imagen.numLike }}</td>
                <td>{{ imagen.numDownload }}</td>
                <td>
                    <a href="{{ path('app_imagen_show', {'id': imagen.id}) }}">show</a>
                    <a href="{{ path('app_imagen_edit', {'id': imagen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_imagen_new') }}">Create new</a>
{% endblock %}
